.navbar-nav li:hover {
    background-color: #80002b;
}
.navbar.navbar-default ul.navbar-nav li:hover a:hover {
    color: #fff;
}

.navbar-brand {
    padding: 5px;
}

footer {
    background-color: #eee;
}

footer ul li {
    list-style-type: none;
}

footer ul li img {
    margin-bottom: 5px;
}

body .jumbotron {
    background-image: url(/jumbotron_bg.jpg); 
    background-position: center center; 
    background-size: 100% auto;
}

.jumbotron .container {
    background-color: rgba(255,255,255,0.75);
}

